#import "{{ template_path }}/template.typ": *

#set outline(title: "Table of contents")

#show: bubble.with(
  title: "{{ title }}",
  {% if subtitle %}subtitle: "{{ subtitle }}",
  {% endif %}author: "{{ author }}",
  {% if affiliation %}affiliation: "{{ affiliation }}",
  {% endif %}{% if year %}year: "{{ year }}",
  {% endif %}{% if class_ %}class: "{{ class_ }}",
  {% endif %}main-color: "{{ main_color }}",
  {% if logo_path %}logo: image("{{ logo_path }}"),
  {% endif %}date: "{{ date }}",
)

{{ body }}
