#import {{ (template_path ~ '/template.typ')|tojson }}: *

#set outline(title: "Table of contents")

#show: bubble.with(
  title: {{ title|tojson }},
  {% if subtitle %}subtitle: {{ subtitle|tojson }},
  {% endif %}author: {{ author|tojson }},
  {% if affiliation %}affiliation: {{ affiliation|tojson }},
  {% endif %}{% if year %}year: {{ year|tojson }},
  {% endif %}{% if class_ %}class: {{ class_|tojson }},
  {% endif %}main-color: {{ main_color|tojson }},
  {% if logo_path %}logo: image({{ logo_path|tojson }}),
  {% endif %}date: {{ date|tojson }},
)

{{ body }}
